---
layout: page
title: Frequently Asked Questions
descriptions: The most popular questions asked by the audience of WolfSound with answers.
---
<article>

{% for questions_category in site.data.faq.categories %}
<div class="accordion" id="faqAccordion{{ questions_category.id }}">
    {% for question in questions_category.questions %}
    <div class="card">
        <div class="card-header collapsed" id="heading{{ questions_category.id }}{{ question.id }}" type="button" data-toggle="collapse" data-target="#collapse{{ questions_category.id }}{{ question.id }}" aria-expanded="false" aria-controls="collapse{{ questions_category.id }}{{ question.id }}>
            <h2 class="mb-0">
                <button class="btn btn-link">
                    {{ question.question }}
                </button>
            </h2>
        </div>

        <div id="collapse{{ questions_category.id }}{{ question.id }}" class="collapse" aria-labelledby="heading{{ questions_category.id }}{{ question.id }}" data-parent="#faqAccordion{{ questions_category.id }}">
            <div class="card-body">
                {{ question.answer }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
</article>
