<div class="container">
    <div class="row justify-content-center category-box">
        <a class="btn btn-outline-primary" href="/posts">All</a>
        <a class="btn btn-outline-primary" href="/dsp">Digital Signal Processing</a>
        <a class="btn btn-outline-primary" href="/sound-synthesis">Sound Synthesis</a>
        <a class="btn btn-outline-primary" href="/audio-fx">Audio FX</a>
        <a class="btn btn-outline-primary" href="/c-cpp">C/C++</a>
        <a class="btn btn-outline-primary" href="/python">Python</a>
        <a class="btn btn-outline-primary" href="/sound-in-general">Sound in General</a>
        <a class="btn btn-outline-primary" href="/programming-in-general">Programming in General</a>
        <a class="btn btn-outline-primary" href="/podcast">Podcast</a>
    </div>
</div>
