<div class="container">
    <div class="row">
            <a class="btn btn-outline-primary" href="{{"/posts" | relative_url }}">All</a>
            <a class="btn btn-outline-primary" href="{{"/dsp" | relative_url }}">Digital Signal Processing</a>
            <a class="btn btn-outline-primary" href="{{"/audio-fx" | relative_url }}">Audio FX</a>
            <a class="btn btn-outline-primary" href="{{"/c-c++" | relative_url }}">C/C++</a>
            <a class="btn btn-outline-primary" href="{{"/programming-in-general" | relative_url }}">Programming in General</a>
            <a class="btn btn-outline-primary" href="{{"/python" | relative_url }}">Python</a>
            <a class="btn btn-outline-primary" href="{{"/sound-synthesis" | relative_url }}">Sound Synthesis</a>
    </div>
</div>
