<div id="cookieBanner" class="cookie-banner fixed-bottom w-100 p-3 bg-white shadow-lg rounded" role="dialog" aria-labelledby="cookieBannerTitle" aria-describedby="cookieBannerDescription">
    <div id="manage" class="cookie-content d-flex flex-column">
        <div class="cookie-header mb-2">
            <h2 id="cookieBannerTitle" class="cookie-title">Manage Cookies</h2>
        </div>
        <p id="cookieBannerDescription">We use cookies to display equations, handle comments, validate forms, as well as to analyze the usage of our websites, in order to improve our content and offer you a great user experience. To learn more about our use of cookies, see our <a href="{% link collections.all, 'cookie-policy.html' %}" target="_blank">Cookie Policy</a> and <a href="{% link collections.all, 'privacy-policy.html' %}" target="_blank">Privacy Policy</a>.</p>
        <div class="my-3">
            <div class="form-check">
                <input data-c-check="necessary" class="form-check-input" type="checkbox" value="" id="necessary" aria-labelledby="necessaryLabel" checked disabled>
                <label id="necessaryLabel" class="form-check-label" for="necessary">
                    Necessary
                </label>
            </div>
            <div class="form-check">
                <input data-c-check="statistics" data-c-check-default="true" class="form-check-input" type="checkbox" value="" id="statistics" aria-labelledby="statisticsLabel">
                <label id="statisticsLabel" class="form-check-label" for="statistics">
                    Statistics
                </label>
            </div>
            <div class="form-check">
                <input data-c-check="marketing" data-c-check-default="true" class="form-check-input" type="checkbox" value="" id="marketing" aria-labelledby="marketingLabel">
                <label id="marketingLabel" class="form-check-label" for="marketing">
                    Marketing
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <button data-c-action="accept" class="btn btn-secondary cookie-btn flex-fill me-1">
                Accept
            </button>
            <button data-c-action="all" class="btn btn-primary cookie-btn flex-fill">
                Accept All
            </button>
            <button data-c-action="necessary" class="btn btn-primary cookie-btn flex-fill ms-1">
                Accept Necessary
            </button>
        </div>
    </div>
</div>

<style>
    .cookie-banner {
        z-index: 1000;
        max-width: 100%;
        display: none;
    }
    .cookie-content {
        margin: 0 auto;
        p {
          margin: 0;
        }
    }
    .cookie-header,
    .cookie-title,
    .form-check-label,
    .cookie-btn {
        font-size: 1rem;
    }
    .form-check-input {
        cursor: pointer;
    }
</style>
<script type="module" data-c-script="necessary" src="/assets/js/wolfsound/modules/cookie_modal.js"></script>
