<div id="cookieModal" class="modal" role="dialog">
    <div class="modal-content">
        <div class="m-3 fixed-bottom">
            <!-- div id="manage" class="mx-md-5 p-3 bg-white shadow-lg rounded d-none" data-c-view="manage" -->
            <div id="manage" class="mx-md-5 p-3 bg-white shadow-lg rounded" data-c-view="manage">
                <h2>Manage Cookies</h2>
                <p>We use cookies to provide and secure our websites, as well as to analyze the usage of our websites,
                    in order to offer you a great user experience. To learn more about our use of cookies see our <a
                        href="#" target="_blank">Privacy Policy</a>.</p>
                <div class="my-3">
                    <div class="form-check">
                        <input data-c-check="necessary" class="form-check-input" type="checkbox" value=""
                            id="necessary">
                        <label class="form-check-label" for="necessary">
                            Necessary
                        </label>
                    </div>
                    <div class="form-check">
                        <input data-c-check="marketing" data-c-check-default="true" class="form-check-input"
                            type="checkbox" value="" id="marketing">
                        <label class="form-check-label" for="marketing">
                            Marketing
                        </label>
                    </div>
                    <div class="form-check">
                        <input data-c-check="performance" class="form-check-input" type="checkbox" value=""
                            id="performance">
                        <label class="form-check-label" for="performance">
                            Performance
                        </label>
                    </div>
                </div>
                <div class="d-flex">
                    <div data-c-action="accept" class="btn btn-secondary flex-fill me-1">
                        Accept
                    </div>
                    <div data-c-action="all" class="btn btn-primary flex-fill">
                        All
                    </div>
                    <div data-c-action="necessary" class="btn btn-primary flex-fill ms-1">
                        Necessary
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module">
    import Cookify from '/assets/js/cookify/index.js'
    function handle_cookies(){
        var cookieModal = document.getElementById("cookieModal")
        var cookify = new Cookify('cookie_consent', function () {
            // document.getElementById('manage').classList.add('d-none')
            cookieModal.style.display = "none";
        }, function (data) {
            console.log(data)
        }, false, false, 'necessary')

        if (!cookify.getDataState(cookify.viewedName)) {
            // document.getElementById('manage').classList.remove('d-none')
            cookieModal.style.display = "block"
        }  
    }
    window.addEventListener('load', handle_cookies)
</script>
<script >
    // Get the modal -->
    // var modal = document.getElementById("cookieModal");
    
    // Get the <span> element that closes the modal
    // var span = document.getElementsByClassName("close")[0];
    
    // When the window loads, open the modal
    // window.onload = function() {
    //   modal.style.display = "block";
    // }
    
    // When the user clicks on <span> (x), close the modal
    // span.onclick = function() {
    //   modal.style.display = "none";
    // }
    
    // When the user clicks anywhere outside of the modal, close it
    // window.onclick = function(event) {
    //   if (event.target == modal) {
    //     modal.style.display = "none";
    //   }
    // }
</script>