<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.youtube_channel %}
          <li class="list-inline-item">
            <a href="{{ site.youtube_channel }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_account %}
          <li class="list-inline-item">
            <a href="{{ site.linkedin_account }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_account %}
          <li class="list-inline-item">
            <a href="{{ site.twitter_account }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_page %}
          <li class="list-inline-item">
            <a href="{{ site.facebook_page }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <br>
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="{% link 'privacy-policy.html' %}">
                Privacy Policy
            </a>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-circle"></i>
          </li>
          <li class="list-inline-item">
            <a href="{% link 'cookie-policy.html' %}">
                Cookie Policy
            </a>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-circle"></i>
          </li>
          <li class="list-inline-item">
            <a href="{% link 'terms-and-conditions.html' %}">
                Terms and Conditions
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} 2019-{{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
