<head>
    {% if buildSettings.environment == "production" %}
    <!-- Global site tag (gtag.js) - Google Analytics GA4 -->
    <script defer data-c-script="statistics" src="https://www.googletagmanager.com/gtag/js?id=G-S5BSDKRNCW"></script>
    <script data-c-script="statistics">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-S5BSDKRNCW');
    </script>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% capture pageTitle %}{% if title %}{{ title | escape }} | {{ site.title | escape }}{% elsif eleventyComputed.title %}{{ eleventyComputed.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}{% endcapture %}
    <title>{{ pageTitle }}</title>

    {% capture pageDescription %}{{ description | default: excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}{% endcapture %}
    <meta name="description"
        content="{{ pageDescription }}">
    <meta name="robots" content="index, follow" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{"/assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}">

    <link rel="stylesheet" href="{{"/assets/vendor/fontawesome-free/css/all.min.css" | relative_url }}">

    <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">

    {% capture canonicalUrl %}{{ site.url }}{{ page.url | url }}{% endcapture %}
    <link rel="canonical" href="{{ canonicalUrl }}">

    <!-- Relative pagination (for Bing and accessibility) -->
    {% if pagination.href.previous %}
    <link rel="prev" href="{{ pagination.href.previous }}" />
    {% endif %}
    {% if pagination.href.next %}
    <link rel="next" href="{{ pagination.href.next }}" />
    {% endif %}

    <!-- feed_meta -->
    <link rel="alternate" href="/feed.xml" title="WolfSound's Activity Feed" type="application/rss+xml">

    <!-- KaTeX setup -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css" integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js" integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t" crossorigin="anonymous"></script>

    <!-- Audio Plugin Developer Checklist POPUP Kajabi form -->
    <script defer src=https://www.wolfsoundacademy.com/forms/2148393622/embed.js></script>
    
    <!-- Syntax highlight CSS file -->
    <link href="/assets/css/prism-vs.css" rel="stylesheet">

    <!-- Additional CSS files -->
    {% if custom_css %}
        {% for stylesheet in custom_css %}
            <link rel="stylesheet" href="{{ stylesheet }}">
        {% endfor %}
    {% endif %}

    {% if buildSettings.environment == "production" %}
    <!-- Meta Pixel Code -->
    <script defer data-c-script="statistics">
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '3305719803045802');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=3305719803045802&ev=PageView&noscript=1" /></noscript>
    <!-- End Meta Pixel Code -->
    {% endif %}

    {% capture shareableImage %}{{ background | default: "/assets/img/home/Logo.webp" }}{% endcapture %}

    <meta property="og:title" content="{{ pageTitle }}"/>
    <meta property="og:url" content="{{ canonicalUrl }}"/>
    <meta property="og:description" content="{{ pageDescription }}"/>
    <meta property="og:image" content="{{ site.url }}{{ shareableImage }}"/>
    <meta property="og:type" content="article" />
    <meta property="og:site_name " content="{{ site.title }}" />

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{{ pageTitle }}"/>
    <meta name="twitter:description" content="{{ pageDescription }}"/>
    <meta name="twitter:site" content="@{{ site.twitter_handle }}"/>
    <meta name="twitter:image" content="{{ site.url }}{{ shareableImage }}"/>
    <meta name="twitter:creator" content="@{{ site.twitter_handle }}"/>
</head>
