<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <!-- <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a> -->
    <a class="navbar-brand" href="/">
      <img src="{{ site.logo_title_path | relative_url }}" alt="WolfSound logo" height="35px" width="105px">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% link collections.all, 'about.md' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% link collections.all, 'resources/index.html' %}">Resources</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% link collections.all, 'faq/index.html' %}">FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{"/posts" | relative_url }}">Articles</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.youtube_channel }}">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% link collections.all, 'newsletter.md' %}">Newsletter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
