<article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
      <h2 class="post-title">{{ post.data.title }}</h2>
      {% if post.data.subtitle %}
      <h3 class="post-subtitle">{{ post.data.subtitle }}</h3>
      {% else %}
      <h3 class="post-subtitle">{{ post.templateContent | strip_html | truncatewords: 15 }}</h3>
      {% endif %}
    </a>
    <p class="post-meta">Posted by
      {% if post.data.author %}
      {{ post.data.author }}
      {% else %}
      {{ site.author }}
      {% endif %}
      on
      {{ post.date | date: '%B %d, %Y' }} &middot; {% render 'read_time.html', content: post.templateContent %}            
    </p>
  </article>

  <hr>
  