<script defer type="text/plain" onload="redcircleIframe();" data-cookieconsent="marketing" src="https://api.podcache.net/embedded-player/sh/bf40a1d2-7e41-4ddb-8c3a-ed82394723ba/ep/{{ redcircle_podcast_id }}"></script><div class="redcirclePlayer-{{ redcircle_podcast_id }}"></div>
<script defer type="text/plain" data-cookieconsent="marketing">
  redcircleIframe();
</script>
<style>.redcircle-link:link {color: #ea404d;text-decoration: none;}.redcircle-link:hover {color: #ea404d;}.redcircle-link:active {color: #ea404d;}.redcircle-link:visited {color: #ea404d;}</style>
<p class="cookieconsent-optin-marketing" style="margin-top:3px;margin-left:11px;font-family: sans-serif;font-size: 10px; color: gray;">Powered by <a class="redcircle-link" href="https://redcircle.com?utm_source=rc_embedded_player&utm_medium=web&utm_campaign=embedded_v1">RedCircle</a></p>
<div class="cookieconsent-optout-marketing">
    Please
    <a href="javascript:Cookiebot.renew()">accept marketing cookies</a>
    to access the podcast player.
</div>