<div class="short-bio">
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="column"><img src="{{ "/assets/img/home/jan_wilczek.png" | absolute_url }}" alt="A photo of Jan Wilczek"/></div>
                <div class="column"><h5 class="card-title">Welcome to WolfSound!</h5></div>
            </div>
            <div class="row">
                <p class="card-text">My name is Jan Wilczek. I am an audio programmer, a researcher in the field of music technology, and a musician. Through articles and videos from WolfSound, you will easily understand the main concepts of sound processing using software.</p>
            </div>
            <div class="row justify-content-center">
                <a href="{% link about.md %}" class="btn btn-primary" title="Read more about WolfSound">Read More About WolfSound</a>
            </div>
        </div>
    </div>
</div>
