<div class="short-bio">
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="column"><img src="{{ "/assets/img/home/jan_wilczek.png" | absolute_url }}" alt="A photo of Jan Wilczek"/></div>
                <div class="column"><h5 class="card-title">Welcome to WolfSound!</h5></div>
            </div>
            <div class="row">
        <p class="card-text">My name is Jan Wilczek, audio programmer, researcher, and a musician. I am currently studying Elite Master's Study Programme Advanced Signal Processing and Communications Engineering at University of Erlangen-Nürnberg. Additionally, I am a visitng student at Aalto University in Finland, where I put finishing touches on my Master Thesis under supervision of prof. Emanuël Habets, prof. Vesa Välimäki, and Alec Wright.</p></div>
        <a href="{% link about.md %}" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>
