<nav id="sidebar">
    <div class="p-2">

        <div class="short-bio">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="column"><img id="jan-wilczek-image" src="/assets/img/home/jan_wilczek.webp" alt="A photo of Jan Wilczek"/></div>
                        <div class="column"><h5 class="card-title">Welcome to WolfSound!</h5></div>
                    </div>
                    <div class="row">
                        <p class="card-text">My name is Jan Wilczek. I am an audio programmer, a researcher in the field of music technology, and a musician. Through articles and videos from WolfSound, you will easily understand the main concepts of sound processing using software.</p>
                    </div>
                    <div class="row justify-content-center">
                        <a href="{% link collections.all, 'about.md' %}" class="btn btn-primary sidebar-btn" title="Read more about WolfSound">Read More About WolfSound</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="checklist-banner">
            <h5 class="text-center">Free Audio Plugin Developer Checklist</h5>
            <img src="/assets/img/pages/ChecklistMiniatureSmall.webp" alt="Preview of the ultimate audio plugin developer checklist"/>
            <div class="row justify-content-center m-1">
            <a href="{% link collections.all, 'single-pages/checklist.html' %}" class="btn btn-primary sidebar-btn" title="Get the Ultimate Audio Plugin Developer Checklist">
                Get the Checklist Now
            </a>
            </div>
        </div>

        {% include 'share-buttons.html' %}
        
        <h5>Follow me on:</h5>
        <ul>
            <li>
                <a href="{{ site.youtube_channel }}">
                    <div class="row">
                        <div class="column">
                            <i class="fab fa-youtube"></i>
                        </div>
                        <div class="column">
                            YouTube
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ site.linkedin_account }}">
                    <div class="row">
                        <div class="column">
                            <i class="fab fa-linkedin"></i>
                        </div>
                        <div class="column">
                            LinkedIn
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ site.twitter_account }}">
                    <div class="row">
                        <div class="column">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="column">
                            Twitter
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ site.facebook_page }}">
                    <div class="row">
                        <div class="column">
                            <i class="fab fa-facebook"></i>
                        </div>
                        <div class="column">
                            Facebook
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://github.com/{{ site.github_username }}">
                    <div class="row">
                        <div class="column">
                            <i class="fab fa-github"></i>
                        </div>
                        <div class="column">
                            GitHub
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <h5>Get to know me:</h5>
        <ul>
            <li>
                <a href="https://www.janwilczek.com">
                    <div class="row">
                        <div class="column">
                            <h5 style='font-family: "Times New Roman", Times, serif'>W</h5>
                        </div>
                        <div class="column">
                            My Personal Webpage
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ site.music_page }}">
                    <div class="row">
                        <div class="column">
                            <i class="fas fa-headphones"></i>
                        </div>
                        <div class="column">
                            My Music
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.trle.net/sc/authorfeatures.php?aid=807">
                    <div class="row">
                        <div class="column">
                            <h6 style='font-family: "Bodoni Moda", Times, serif'>TR</h6>
                        </div>
                        <div class="column">
                            My Games on TRLE.net
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <h5>Popular series:</h5>
        <ul>
            <li>
                <a href="{% post_url collections.posts, '2020-06-20-the-secret-behind-filtering' %}">
                    <div class="row">
                        <!-- Image used for background: https://www.flickr.com/photos/53416677@N08/4972851531/in/photostream/lightbox/ -->
                        <!-- Distributed under Attribution 2.0 Generic Creative Commons License. Link to the license: https://creativecommons.org/licenses/by/2.0/ -->
                        <img src="/assets/img/home/convolution_series_logo.webp"
                            alt="Logo of the series of articles on convolution" />
                    </div>
                </a>
            </li>
        </ul>

        <div class="online-course-banner">
          <h5>Online course progress</h5>
          <div class="progress course-progress">
            <div class="progress-bar course-progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100">100%</div>
          </div>
          <p>In response to numerous requests, I <s>am currently working intensively on</s> have completed my first online course on digital signal processing for audio
            programming.</p>
          <p><s>Above you can track the total progress on the "raw" materials for the course: scripts, graphics, videos, and audio
            recordings.</s> Get the course here:</p>
          <a class="btn btn-lg btn-primary" href="{{ site.dsp_pro_url }}">Click here to check out the course</a>
        </div>

        <h5>Tag cloud</h5>
        <div class="tagcloud">
            {% assign tags = collections.all | getAllTags %}
            {% for tag in tags %}
            <a href="/tag/{{ tag | slugify }}" class="tag-cloud-link">{{ tag }}</a>
            {% endfor %}
        </div>
        
        <!-- Google AdSense -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6611455743195468"
            crossorigin="anonymous"></script>
        <!-- SidebarAd -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6611455743195468" data-ad-slot="6045103404"
            data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</nav>