<nav id="sidebar">
    <div class="p-2">

        <div class="short-bio">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center gap-2">
                        <img loading="lazy" id="jan-wilczek-image" src="/assets/img/home/jan_wilczek.webp" width="100px" height="100px" alt="A photo of Jan Wilczek"/>
                        <h5 class="card-title">Welcome to WolfSound!</h5>
                        <p class="card-text">My name is Jan Wilczek. I am an audio programmer, a researcher in the field of music technology, and a musician. Through articles and videos from WolfSound, you will easily understand the main concepts of sound processing using software.</p>
                          <a href="{% link collections.all, 'about.md' %}" class="btn btn-primary sidebar-btn" title="Read more about WolfSound">Read More About WolfSound</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="checklist-banner">
            <h5 class="text-center">Free Audio Plugin Developer Checklist</h5>
            <img loading="lazy" src="/assets/img/pages/ChecklistMiniatureSmall.webp" width="300" height="375" alt="Preview of the ultimate audio plugin developer checklist"/>
            <div class="d-flex justify-content-center my-1">
              <a href="{% link collections.all, 'single-pages/checklist.html' %}" class="btn btn-primary sidebar-btn" title="Get the Ultimate Audio Plugin Developer Checklist">
                  Get the Checklist Now
              </a>
            </div>
        </div>

        <div class="online-course-banner">
          <h5>Want to learn DSP fast?</h5>
          <p>Go through my <strong>DSP Pro online course.</strong> It will teach you everything you need to know on audio signal processing even if you don't know maths or programming.</p>
          <div>
          <a class="btn btn-md btn-primary" href="{{ site.dsp_pro_url }}">Click here to check out the course</a>
          </div>
        </div>

        <h5>Follow me on:</h5>
        <ul>
            <li>
                <a href="{{ site.youtube_channel }}">
                    <div class="d-flex align-items-center gap-2">
                        <i class="fab fa-youtube"></i>
                        <span>YouTube</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ site.linkedin_account }}">
                    <div class="d-flex align-items-center gap-2">
                        <i class="fab fa-linkedin"></i>
                        <span>LinkedIn</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ site.twitter_account }}">
                    <div class="d-flex align-items-center gap-2">
                        <i class="fab fa-twitter"></i>
                        <span>Twitter</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ site.facebook_page }}">
                    <div class="d-flex align-items-center gap-2">
                        <i class="fab fa-facebook"></i>
                        <span>Facebook</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://github.com/{{ site.github_username }}">
                    <div class="d-flex align-items-center gap-2">
                        <i class="fab fa-github"></i>
                        <span>GitHub</span>
                    </div>
                </a>
            </li>
        </ul>

        <h5>Popular series:</h5>
        <ul>
            <li>
                <a href="{% post_url collections.posts, '2020-06-20-the-secret-behind-filtering' %}">
                    <div>
                        <!-- Image used for background: https://www.flickr.com/photos/53416677@N08/4972851531/in/photostream/lightbox/ -->
                        <!-- Distributed under Attribution 2.0 Generic Creative Commons License. Link to the license: https://creativecommons.org/licenses/by/2.0/ -->
                        <img loading="lazy" width="370" height="120" src="/assets/img/home/convolution_series_logo.webp"
                            alt="Logo of the series of articles on convolution" />
                    </div>
                </a>
            </li>
        </ul>

        <h5>Tag cloud</h5>
        <div class="tagcloud">
            {% assign tags = collections.all | getAllTags %}
            {% for tag in tags %}
            <a href="/tag/{{ tag | slugify }}" class="tag-cloud-link">{{ tag }}</a>
            {% endfor %}
        </div>
        
        <!-- Google AdSense -->
        <script defer type="text/plain" data-cookieconsent="marketing" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6611455743195468"
            crossorigin="anonymous"></script>
        <!-- SidebarAd -->
        <div class="cookieconsent-optin-marketing">
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6611455743195468" data-ad-slot="6045103404"
              data-ad-format="auto" data-full-width-responsive="true"></ins>
        </div>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</nav>
