<nav id="sidebar">
    <div class="p-4 pt-5">

      {% include short-bio.html %}

      {% include share-buttons.html %}

      <h5>Follow me on:</h5>
      <ul>
        <li>
          <a href="{{ site.youtube_channel }}">
            <div class="row">
              <div class="column">
                  <i class="fab fa-youtube"></i>
              </div>
              <div class="column">
                YouTube
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="{{ site.linkedin_account }}">
            <div class="row">
              <div class="column">
                  <i class="fab fa-linkedin"></i>
              </div>
              <div class="column">
                LinkedIn
              </div>
            </div>
          </a>
        </li>
        <li>
            <a href="{{ site.twitter_account }}">
              <div class="row">
                <div class="column">
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="column">
                  Twitter
                </div>
              </div>
            </a>
        </li>
        <li>
            <a href="{{ site.facebook_page }}">
              <div class="row">
                <div class="column">
                    <i class="fab fa-facebook"></i>
                </div>
                <div class="column">
                  Facebook
                </div>
              </div>
            </a>
        </li>
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <div class="row">
              <div class="column">
                  <i class="fab fa-github"></i>
              </div>
              <div class="column">
                GitHub
              </div>
            </div>
          </a>
        </li>
      </ul>
      
      <h5>Get to know me:</h5>
      <ul>
        <li>
          <a href="https://www.janwilczek.com">
            <div class="row">
              <div class="column">
                <h5 style='font-family: "Times New Roman", Times, serif'>W</h5>
              </div>
              <div class="column">
                My Personal Webpage
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.thewolfofficial.com">
            <div class="row">
              <div class="column">
                  <i class="fas fa-headphones"></i>
              </div>
              <div class="column">
                My Music
              </div>
            </div>
          </a>
        </li>
        <li>
            <a href="https://www.trle.net/sc/authorfeatures.php?aid=807">
              <div class="row">
                <div class="column">
                    <h6 style='font-family: "Bodoni Moda", Times, serif'>TR</h6>
                </div>
                <div class="column">
                  My Games on TRLE.net
                </div>
              </div>
            </a>
          </li>
      </ul>

      <h5>Popular series:</h5>
      <ul>
        <li>
          <a href="{% post_url 2020-06-20-the-secret-behind-filtering %}">
            <div class="row">
              <!-- Image used for background: https://www.flickr.com/photos/53416677@N08/4972851531/in/photostream/lightbox/ -->
              <!-- Distributed under Attribution 2.0 Generic Creative Commons License. Link to the license: https://creativecommons.org/licenses/by/2.0/ -->
              <img src="{{ "/assets/img/home/convolution_series_logo.png" | absolute_url }}" alt="Logo of the series of articles on convolution"/>
            </div>
          </a>
        </li>
      </ul>

      <h5>Publication consistency:</h5>
      <iframe src="https://www.beeminder.com/widget?slug=wolfsound&username=janwilczek&countdown=true" height="245px" width="230px" frameborder="0px" ></iframe>

        <h5>Tag Cloud</h5>
        <div class="tagcloud">
            {% assign sortedtags = site.tags | sort %}
            {% for tag in sortedtags %}
                <a href="/tag/{{ tag[0] | slugify }}" class="tag-cloud-link">{{ tag[0] }}</a>
            {% endfor %}
        </div>
      <!-- <div class="mb-5">
        <h5>Newsletter</h5>
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <div class="icon"><span class="icon-paper-plane"></span></div>
            <input type="text" class="form-control" placeholder="Enter Email Address">
          </div>
        </form>
      </div> -->
    </div>
  </nav>
  