{% if site.talkyard_server_url %}
<script>talkyardServerUrl='{{ site.talkyard_server_url }}';</script>
<script async defer src="{{ site.talkyard_script_url }}"></script>
<!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
<div class="talkyard-comments" data-discussion-id="{{ page.discussion_id }}" style="margin-top: 45px;">
<noscript>Please enable Javascript to view comments.</noscript>
<p style="margin-top: 25px; opacity: 0.9; font-size: 96%">Comments powered by
<a href="https://www.talkyard.io">Talkyard</a>.</p>
</div>
{% endif %}
