---
layout: page
title: Resources
description: "Resources recommended by WolfSound for learning audio programming"
---
<article class="container">
    <p>
        Here are my recommended resources for mastering audio programming (and some other areas of life). All the
        products on this page were thoroughly tested by me, and I found them <strong>incredibly</strong> useful.
    </p>

    <p>
        If you have any questions to these resources, feel free to ask a comment in the comment section at the bottom of
        the page.
    </p>

    <p>
        Additionally, if you benefited from these products yourself, please, let me know as well!
    </p>

    {% for category in site.data.resources.all_resources %}
    <h2>{{ category.category }}</h2>

    {% if category.description %}
    <p>{{ category.description }}</p>
    {% endif %}

    <div class="card-columns">
        {% for resource in category.resources %}
        <div class="card">
            <div class="card-img-top bg-primary"></div>
            <h4 class="card-title">{{ resource.name }}</h4>
            <p class="card-text">
                {{ resource.description }}
            </p>
            <button class="btn btn-primary" href="{{ resource.affiliate_link }}">See on Amazon.com</button>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    {% include affiliate-disclaimer.html %}

</article>
