---
layout: page
title: Resources
description: "Resources recommended by WolfSound for learning audio programming"
---
<article class="container">
    <p>
        Here are my recommended resources for mastering audio programming (and some other areas of life). All the
        products on this page were thoroughly tested by me, and I found them <strong>incredibly</strong> useful.
    </p>

    <p>
        If you have any questions to these resources, feel free to ask a comment in the comment section at the bottom of
        the page.
    </p>

    <p>
        Additionally, if you benefited from these products yourself, please, let me know as well!
    </p>

    <p class="text-muted font-italic">
        Hereby, I disclose that I am an Amazon Associate. As an Amazon Associate I earn from qualifying purchases. Links below may be affiliate links. That means that I may earn a commission if you decide to make a purchase. This does not incur any cost for you. Thanks to these affiliate contributions, I am able to run the site and provide you with new videos. Thank you. 
    </p>

    {% for category in site.data.resources.all_resources %}
    <h2>{{ category.category }}</h2>

    {% if category.description %}
    <p>{{ category.description }}</p>
    {% endif %}

    <div class="card-columns">
        {% for resource in category.resources %}
        <div class="card">
            {% if resource.image  %}
                <div class="card-img-top bg-primary"><img src="{{ resource.image }}" alt="{{ resource.tite }} cover" /></div>
            {% endif %}
            <h4 class="card-title">{{ resource.name }}</h4>
            {% if resource.authors %}
                <h5 class="card-subtitle">by</h5>
                {% for author in resource.authors %}
                    <h5 class="card-subtitle">{{ author }}</h5>
                {% endfor %}
            {% endif %}
            <p class="card-text">
                {{ resource.description }}
            </p>
            {% if resource.affiliate_link %}
                <button class="btn btn-primary" href="{{ resource.affiliate_link }}">See on Amazon.com</button>
            {% endif %}
            {% if resource.link %}
                <button class="btn btn-primary" href="{{ resource.link }}">See online</button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    {% include affiliate-disclaimer.html %}

</article>
