// Styling for the footer
footer {
  padding: 50px 0 65px;
  .list-inline {
    margin: 0;
    padding: 0;
  }
  .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }

  a {
    color: $gray-800;
  }
}

@include color-mode(dark) {
    footer {
        border-top-color: $gray-600;

        // Social icon links
        .list-inline-item a,
        .list-inline-item a:visited {
            color: $body-bg;

            &:hover {
                color: $primary;
            }
        }

        // Invert social icons: light background, dark icon
        .fa-stack {
            .fa-circle,
            .fa-inverse {
                @include transition-all;
            }

            .fa-circle {
                color: $body-color-dark;
            }

            .fa-inverse {
                color: $body-bg-dark;
            }

            &:hover {
                .fa-circle {
                    color: $primary;
                }

                .fa-inverse {
                    color: $body-color-dark;
                }
            }
        }
    }
}
