// Global styling for this template
body {
  font-size: 1.125rem; // 18px desktop
  @include serif-font;
}

p {
  line-height: 1.5;
  margin: 1.1em 0;
  a {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  line-height: 1.3;
  @include sans-serif-font;
}

h2 {
  font-size: 1.75rem; // 28px desktop
  margin: 2em 0 0.75em;
}

h3 {
  font-size: 1.375rem; // 22px desktop
  margin: 1.5em 0 0.5em;
}

h4 {
  margin: 1.25em 0 0;
}

// Mobile adjustments (screens smaller than 768px)
@media (max-width: 767px) {
  body {
    font-size: 1rem; // 16px mobile
  }

  h2 {
    font-size: 1.5rem; // 24px mobile
  }

  h3 {
    font-size: 1.25rem; // 20px mobile
  }
}

a {
  color: $gray-800;
  text-decoration: none;
  @include transition-all;
  &:focus,
  &:hover {
    color: $primary;
  }
}

article, .post-content {
    a {
        color: $blue;
        &:visited {
            color: $purple;
        }
    }
}

blockquote {
  font-style: italic;
  color: $gray-600;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.main-column {
  margin-bottom: 1.5rem;
}
