.newsletter-form {
    .indicates-required {
        font-size: small;
        text-align: right;
    }

    .asterisk {
        color: $red;
    }
    
    input {
        white-space: normal;
        width: 100%;        
    }
}

table {
    ul {
        margin: 0;
    }
}

.katex-display { overflow: auto hidden }

