.wrapper {
  width: 100%;
}

.sidebar-btn {
  width: 100%;
  padding: 10px;
  margin: 1em 0 0;
}

#sidebar {
  transition: all 0.3s;
  position: relative;
  z-index: 0;

  @media (min-width: 1200px) {
    border-left: 1px solid rgba(0, 0, 0, .05);
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .card {
    padding: 1rem 0;
  }

  .card-body {
    padding: 0 1.25rem;
  }

  ul.components {
    padding: 0;
  }

  ul {
    padding-inline-start: 0px;
    list-style-type: none;

    li {
      .row {
        margin: 0px;
        padding: 0px;

        .column {
          padding: 5px;
        }
      }

      >ul {
        li {
          font-size: 0.9rem;

          a {
            border-bottom: 1px solid transparent;

            span {
              color: $black;
            }
          }
        }
      }

      a {
        padding: 5px 0 5px 0;
        display: block;
        color: rgba(0, 0, 0, 1);
        border-bottom: 1px solid rgba(0, 0, 0, .05);
      }

      &.active {
        >a {
          background: transparent;
          color: $primary;
        }
      }
    }
  }
}

.tagcloud {
  a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 0;
    color: $body-text-color;
    border: 1px solid #ccc;
    font-size: .75rem;

    &:hover {
      border-color: $primary;
      background: $primary;
      color: $white;
    }
  }
}

