.wrapper {
  width: 100%;
}

.sidebar-btn {
  width: 100%;
  padding: 10px;
}

#sidebar {
  transition: all 0.3s;
  position: relative;
  z-index: 0;
  border-left: 1px solid rgba(0, 0, 0, .05);

  .short-bio .card {
    padding: 1rem 0;
  }

  .row {
    padding: 0px 10px 0px 10px;
  }

  .card {
    .row {
      display: flex;
      padding: 0px;
    }

    .column {
      flex: 100%;
      padding: 0px;
    }
  }

  .card-title {
    text-align: center;
    margin: 0px;
  }

  .card-text {
    text-align: justify;
    margin: 0px;
  }

  .card-body {
    .row {
      margin: 10px 0px 10px;
    }

    padding: 0 1.25rem;
  }

  ul.components {
    padding: 0;
  }

  ul {
    padding-inline-start: 0px;
    list-style-type: none;

    li {
      .row {
        margin: 0px;
        padding: 0px;

        .column {
          padding: 5px;
        }
      }

      >ul {
        li {
          font-size: 0.9rem;

          a {
            border-bottom: 1px solid transparent;

            span {
              color: $black;
            }
          }
        }
      }

      a {
        padding: 5px 0 5px 0;
        display: block;
        color: rgba(0, 0, 0, 1);
        border-bottom: 1px solid rgba(0, 0, 0, .05);
      }

      &.active {
        >a {
          background: transparent;
          color: $primary;
        }
      }
    }
  }
}


a[data-bs-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}


#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  transition: all 0.3s;
}


.btn {
  &.btn-primary {
    background: $primary;
    border-color: $primary;

    &:hover,
    &:focus {
      background: $primary !important;
      border-color: $primary !important;
    }
  }
}

.footer {
  p {
    color: rgba(255, 255, 255, .5);
  }
}


.tagcloud {
  a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 0;
    color: $body-text-color;
    border: 1px solid #ccc;
    font-size: .75rem;

    &:hover {
      border-color: $primary;
      background: $primary;
      color: $white;
    }
  }
}


.form-control {
  height: 44px !important;
  background: $white;
  color: $black !important;
  border-radius: 4px;
  box-shadow: none !important;
  border: transparent;

  &:focus,
  &:active {
    border-color: $black;
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, .7);
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, .7);
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, .7);
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, .7);
  }
}


.subscribe-form {
  .form-control {
    border: 1px solid rgba(0, 0, 0, .05);
  }
}

.checklist-banner {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: white;
  border: 0.1rem;
  border-style: solid;
  border-color: $primary;
  border-radius: 5px;
  padding: 0.3rem 1rem;
}

.course-progress-bar {
  background-color: $primary;
}

.course-progress {
  height: 2rem;
  margin: 1rem 0;
}

.online-course-banner {
  @extend .checklist-banner;
  border-color: rgba(0, 0, 0, 0.125);
  padding: 1rem;
  margin-bottom: 1rem;
  p {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.0rem;
  }
}
