.wrapper {
  width: 100%;
}

.sidebar-btn {
  width: 100%;
  padding: 10px;
  margin: 1em 0 0;
}

#sidebar {
  transition: all 0.3s;
  position: relative;
  z-index: 0;

  @media (min-width: 1200px) {
    border-left: 1px solid color-mix(in srgb, currentColor 10%, transparent);
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .card {
    padding: 1rem 0;
  }

  .card-body {
    padding: 0 1.25rem;
  }
}

@include color-mode(dark) {
  #sidebar {
    // Invert black logo to white
    img[alt*="convolution"] {
        filter: invert(1);
    }
  }
}

.tagcloud {
  a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 0;
    border: 1px solid #ccc;
    font-size: .75rem;

    &:hover {
      border-color: $primary;
      background: $primary;
      color: $white;
    }
  }
}

