.landing-page {
    padding-top: 5rem;
    position: relative; 
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page::before {    
      content: "";
      background-image: url("/assets/img/pages/SynthesizerCode.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.4;
}

.landing-page-content {
    position: relative;
    height: 100%;
}

.langing-page-header {
    position: relative;
    text-align: center;
    font-size: 2rem;
}

.langing-page-subheader {
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.miniature {
    height: 100%;
    margin: 0.4rem;
}

.landing-page-text-column {
    background: var(--bs-body-bg);
    border: 0.1rem;
    border-style: solid;
    border-color: #ef7600;
    padding: 10px;
}

