// Masonry grid sizing
$resource-grid-space: 1rem;

.grid-sizer,
.grid-item {
    width: 100%;

    @media (min-width: 576px) {
        width: calc(50% - $resource-grid-space);
    }

    @media (min-width: 992px) {
        width: calc(33.333% - $resource-grid-space);
    }

    @media (min-width: 1400px) {
        width: calc(25% - $resource-grid-space);
    }
}

.gutter-sizer {
    width: $resource-grid-space;
}

.resource-card {
    padding: 5%;
    margin-bottom: $resource-grid-space;
}

.resource-img {
    width: 100%;
    max-width: 200px;
    margin-bottom: .75rem;
}

.resource-btn-container {
    width: 100%;
    padding: 0%;
    align-content: center;
}

.resource-btn {
    width: 100%;
}

.resource-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.resource-authors {
    margin-bottom: .4rem;
    line-height: 1;
    font-weight: 400;
    font-size: 1rem;
}

.resource-description {
    margin: 15px 0px;
}
