.landing-page {
    position: relative; 
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page::before {    
      content: "";
      background-image: url("/assets/img/pages/SynthesizerCode.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.6;
}

.langing-page-header {
    position: relative;
    text-align: center;
}

.miniature {
    max-width: 60%;
}