/* Themify Customize Styling */
body[class*="themify"] #site-logo a img {		width: 300px; 
}
#site-logo {	margin: auto; 
}
#site-description {	display: none; 
}
@media screen and (max-width: 1280px) { /* Themify Customize Styling */
body[class*="themify"] #site-logo a img {		width: 300px; 
}
 }@media screen and (max-width: 768px) { /* Themify Customize Styling */
body[class*="themify"] #site-logo a img {		width: 300px; 
}
 }@media screen and (max-width: 680px) { /* Themify Customize Styling */
body[class*="themify"] #site-logo a img {		width: 300px; 
}
 }