---
background: "/assets/img/home/Logo.webp"
---
<!DOCTYPE html>

<html lang="en">

{% include 'head.html' %}

<body>
    {% if buildSettings.environment == "production" %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PM7NRRR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    {% include 'navbar.html' %}

    {{ content }}

    {% include 'footer.html' %}

    {% include 'scripts.html' %}
</body>

</html>
