---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
  <header class="masthead">
{% endif %}
    <div class="overlay"></div>
    <div class="background-filter-addon">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Become an Audio Programmer.</h1>
            <span class="subheading">
              <p>Hi, my name is Jan Wilczek and I love learning and teaching about audio programming, digital signal processing, and the related programming languages.</p>
              <p>On this website, you will find resources to help you become an audio programmer. Whether you are a student, a software engineer, a sound engineer, a researcher, or a music technology enthusiast, my job is to help you learn what you want to learn.</p>
            <p>Click the button below to help me get you started.</p>
            </span>
            <a class="btn btn-lg btn-primary" href="{% post_url 2019-10-29-what-is-audio-programming %}">Get Started Here</a>
          </div>
        </div>
        <div class="col-lg-4 mx-auto"></div>
      </div>
    </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        {% include categories.html %}
        
        <!-- Home Post List -->
        <div class="d-block" id="All-preview" name="preview-block">
        {% for post in site.posts limit : 6 %}
            {% include post-preview.html %}
        {% endfor %}
        </div>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>

      <div class="col col-sm-12 col-lg-4">
        {% include sidebar.html %}
      </div>

    </div>
  </div>
