---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
  <header class="masthead">
{% endif %}
    <div class="overlay"></div>
    <div class="background-filter-addon">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Become an Audio Programmer.</h1>
            <span class="subheading">
              <p>Hi, my name is Jan Wilczek and I love learning and teaching about audio programming, digital signal processing, and the C++ programming language. I believe everyone can change: on this website you will find resources to help you on your way to become an audio programmer. Whether you are a student, a software engineer, a sound engineer, or a music technology enthusiast, my job is to help you learn what you want to learn.</p>
            <p>Click the button below to help me get you started.</p>
            </span>
            <a class="btn btn-lg btn-primary" href="{% post_url 2019-10-29-what-is-audio-programming %}">Get Started Here</a>
          </div>
        </div>
        <div class="col-lg-4 mx-auto"></div>
      </div>
    </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Most Recent Articles -->
        <div class="page-header">
          <h1>Most Recent Articles</h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="btn-group btn-group-lg btn-group-toggle" data-toggle="buttons" role="group" aria-label="Article categories">
                  <label class="btn btn-outline-secondary btn-sm active" aria-pressed="true" id="All" onclick="category_toggle(this);">
                    <input type="radio" name="article-categories" autocomplete="off" checked>All
                  </label>
                {% for category in site.categories %}
                    <label class="btn btn-outline-secondary btn-sm"  id="{{category[0]}}" onclick="category_toggle(this);">
                      <input type="radio" name="article-categories" autocomplete="off">{{category[0]}}
                    </label>
                {% endfor %}
            </div>
          </div>
        </div>

        <!-- Home Post List -->
        <div class="d-block" id="All-preview" name="preview-block">
        {% for post in site.posts limit : 5 %}
            {% include post-preview.html %}
            {% endfor %}
        </div>

        {% for category in site.categories %}
          {% assign catogory_articles = site.posts | where_exp: "article", "article.categories contains category[0]" %}
          <div class="d-none" id="{{category[0]}}-preview" name="preview-block">
          {% for post in catogory_articles limit : 5 %}
            {% include post-preview.html %}
          {% endfor %}
          </div>
        {% endfor %}

        

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>

      {% include sidebar.html %}

    </div>
  </div>

  

  <script data-c-script="necessary" type="text/javascript" src='/assets/js/wolfsound/toggle_categories.js'></script>

