---
layout: default
---

<!-- Page Header -->
{% if background %}
  <header class="masthead" style="background-image: url('{{ background }}')">
{% else %}
  <header class="masthead">
{% endif %}
    <div class="overlay"></div>
    <div class="background-filter-addon">
    <div class="container position-relative">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Become an Audio Programmer</h1>
            <span class="subheading">
              <p>Not sure where to start?</p>
              <p>I have prepared for you a checklist containing everything you need to know to develop audio plugins for digital audio workstations. If you would like to code synthesizers, reverbs, distortion, phasers, and so on, then this is the resource for you.</p>
            <p>Click the button below to get "The Ultimate Audio Plugin Developer Checklist".</p>
            </span>
            <a class="btn btn-lg btn-primary" href="{% link collections.all, 'single-pages/checklist.html' %}">Get The Free Checklist</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col mx-auto">

        {{ content }}

        {% include 'categories.html' %}
        
        <!-- Home Post List -->
        <div class="d-block" id="All-preview" name="preview-block">
        {% assign postslist = collections.posts | reverse %}
        {% for post in postslist limit: 6 %}
            {% include 'post-preview.html' %}
        {% endfor %}
        </div>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-end" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>

      <div class="col-sm-12 col-xl-4">
        {% include 'sidebar.html' %}
      </div>

    </div>
  </div>
