---
layout: default
---

<!-- Page Header -->
{% if background %}
<header class="masthead" style="background-image: url('{{ background }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container-xl">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>
            {% if title %}
            {{ title }}
            {% else %}
            {{ eleventyComputed.title }}
            {% endif %}
            {% unless pagination.data == "collections" %}
            {% if pagination.pageNumber > 0 %} - Page {{ pagination.pageNumber | plus: 1 }}{% endif %}
            {% endunless %}
            </h1>
            {% if description %}
            <span class="subheading">{{ description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-xl">
    <div class="row">
      <div class="col-xl-8 px-2">

        {{ content }}

      </div>
      
      <div class="col-xl-4">
        {% include 'sidebar.html' %}
      </div>

    </div>
  </div>
