---
layout: page
pagination:
  size: 6
  reverse: true
---

{% include 'categories.html' %}

{% for post in pagination.items %}

<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.data.title }}</h2>
    {% if post.data.subtitle %}
    <h3 class="post-subtitle">{{ post.data.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ post.templateContent | strip_html | truncate_to_first_newline | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">Posted by
    {% if post.data.author %}
    {{ post.data.author }}
    {% else %}
    {{ site.author }}
    {% endif %}
    on {{ post.date | date: '%B %d, %Y' }} &middot; {% render 'read_time.html', content: post.templateContent %}
  </p>
</article>

<hr>

{% endfor %}

<!-- Pager -->
{% if pagination.pages.length > 1 %}

<div class="justify-content-between pagination-numbers">

  {% if pagination.href.previous %}
  <a class="btn btn-primary" href="{{ pagination.href.previous }}">&larr;
    Newer<span class="d-none d-md-inline"> Posts</span></a>
  {% endif %}

  {% if pagination.page_trail %}
  {% for trail in pagination.page_trail %}
    <a class="btn {% if url == trail.path %} btn-primary {% else %} btn-outline-primary {% endif %}" href="{{ trail.path | absolute_url | remove: "index.html" }}" title="{{trail.title}}">
        {{ trail.num }}
    </a>
  {% endfor %}
  {% endif %}

  {% if pagination.href.next %}
  <a class="btn btn-primary" href="{{ pagination.href.next }}">Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}
