---
layout: default
custom_css:
- /assets/css/prism-coy.css
---

<!-- Page Header -->
{% if background %}
<header class="masthead" style="background-image: url('{{ background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
<header class="masthead" style="background-image: url('{{ site.default_background_path | prepend: site.baseurl | replace: '//', '/' }}')">
  {% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ title }}</h1>
          {% if subtitle %}
          <h2 class="subheading">{{ subtitle }}</h2>
          {% endif %}
          <span class="meta">Posted by
            <a href="#">{% if author %}{{ author }}{% else %}{{ site.author }}{% endif %}</a>
            on {{ date | date: '%B %d, %Y' }} &middot; {% render 'read_time.html', content: content %}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

  <div class="container">
    <div class="row">
      <div class="col-xl-8 main-column">

        {% include 'categories.html' %}

        <hr>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lite-youtube-embed/0.3.3/lite-yt-embed.min.css" integrity="sha512-jGFXuWMxJUKzdfBmoyqCXz9k2AU3Z/ZNoayoUPEBAtJZjHbTbw50AxTR1ICVPQJbSamH9ny1JwOur0x4WOdcWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/lite-youtube-embed/0.3.3/lite-yt-embed.min.js" integrity="sha512-l8cIzs5aAJutiOPIyW/9PAvDevwTA8F17Pmge51rwmKBkjZ47tap3kRv+pI8JX9owkkBpRMuOIUE7v+Rg6os9w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <div class="post-content">
            {{ content }}
        </div>

        {% include 'share-buttons.html' %}

        <hr>

        <div class="clearfix">

          {% assign previousPost = collections.posts | getPreviousCollectionItem %}
          {% if previousPost %}
          <a class="btn btn-primary float-start" href="{{ previousPost.url }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ previousPost.data.title | escape }}">&larr; Previous<span class="d-none d-md-inline">
            Post</span></a>
            {% endif %}
          {% assign nextPost = collections.posts | getNextCollectionItem %}
          {% if nextPost %}
          <a class="btn btn-primary float-end" href="{{ nextPost.url }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ nextPost.data.title | escape }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>

        {% include 'talkyard-comments.html' %}

      </div>

      <div class="col-xl-4">
        {% include 'sidebar.html' %}
      </div>

    </div>
  </div>
