---
layout: default
---

<!-- Page Header -->
{% if background %}
<header class="masthead" style="background-image: url('{{ background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
<header class="masthead" style="background-image: url('{{ site.default_background_path | prepend: site.baseurl | replace: '//', '/' }}')">
  {% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ title }}</h1>
          {% if subtitle %}
          <h2 class="subheading">{{ subtitle }}</h2>
          {% endif %}
          <span class="meta">Posted by
            <a href="#">{% if author %}{{ author }}{% else %}{{ site.author }}{% endif %}</a>
            on {{ date | date: '%B %d, %Y' }} &middot; {% include 'read_time.html',
            content=content %}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% include 'categories.html' %}

        <hr>

        <div class="post-content">
            {{ content }}
        </div>

        {% include 'share-buttons.html' %}

        <hr>

        <div class="clearfix">

          {% if previous.url %}
          <a class="btn btn-primary float-left" href="{{ previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if next.url %}
          <a class="btn btn-primary float-right" href="{{ next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>

        {% include 'talkyard-comments.html' %}

      </div>

      <div class="col-sm-12 col-xl-4">
        {% include 'sidebar.html' %}
      </div>

    </div>
  </div>
