---
layout: default
---

<!-- Page Header -->
{% if background %}
<header class="masthead" style="background-image: url('{{ background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ title }}</h1>
            {% if description %}
            <span class="subheading">{{ description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid px-4">
    <div class="row">
      <div class="col-xl-9 px-2">

        {{ content }}

        {% include 'talkyard-comments.html' %}

      </div>
      
      <div class="col-xl-3">
        {% include 'sidebar.html' %}
      </div>

    </div>
  </div>
