---
layout: default
permalink: /checklist/
title: Free Checklist for Audio Plugin Development
description: Get "The Ultimate Audio Plugin Developer Checklist" for free and start coding audio plugins for digital audio workstations now.
custom_css:
- /assets/css/checklist.css
---
<!DOCTYPE html>

<html lang="en">

{% include 'head.html' %}

<body>

    <section class="landing-page">
        <div class="landing-page-content container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-8 landing-page-text-column">
                    <h1 class="langing-page-header">The Ultimate Audio Plugin Developer Checklist</h1>
                    <h2 class="langing-page-subheader">Get the Free Checklist and Discover All Necessary Concepts to
                        Code Audio Plugins</h2>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-6">

                            <!-- Audio Plugin Developer Checklist OPTIN Kajabi form -->
                            <script src=https://www.wolfsoundacademy.com/forms/2148393615/embed.js></script>

                        </div>
                    </div>
                    <p class="font-italic text-center">
                        By subscribing, you agree to receive weekly emails with helpful free content. You can unsubscribe at any
                        time.
                    </p>
                </div>
                <div class="col-12 col-md-4">
                    <img class="miniature" src="/assets/img/pages/ChecklistMiniature.webp" alt="Preview of the ultimate audio plugin developer checklist"/>
                </div>
            </div>
        </div>
    </section>

    {% include 'scripts.html' %}
</body>

</html>