---
layout: publication
title: Virtual Analog Modeling Using Neural ODEs
description: Audio examples for "Virtual Analog Modeling Of Distortion Circuits Using Neural Ordinary Differential Equations" DAFx20in22 conference paper
assets: /assets/wav/publications/dafx2022/
custom_css:
 - https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css
 - /assets/vendor/trackswitch/css/trackswitch.min.css
custom_js:
 - /assets/vendor/trackswitch/js/trackswitch.min.js
 - /assets/js/wolfsound/modules/load_trackswitch.js
---
<p>This page contains audio examples for the "Virtual Analog Modeling Of Distortion Circuits Using Neural Ordinary Differential Equations" paper presented at the 25th International Conference on Digital Audio Effects (DAFx20in22) in Vienna, Austria, September 2022.</p>

<p>You can check out this publication on <a href="https://arxiv.org/abs/2205.01897"></a>arxiv</a> or on the <a href="https://dafx2020.mdw.ac.at/proceedings/papers/DAFx20in22_paper_12.pdf">conference's website.</a></p>

<p>Please, check out also the <a href="https://github.com/JanWilczek/va-phaser-with-neural-odes">GitHub repository for this publication.</a></p>

<p>
    If you have any questions or remarks, please, word them in the <a href="#comments">comments section at the bottom</a>.
</p>

<h2>Bibtex Citation</h2>

<p>When you cite this work, please use the following bibliographical data:</p>

<pre><span class="pl-k">@InProceedings</span>{<span class="pl-en">Wilczeketal2022</span>,
    <span class="pl-s">author</span>    = <span class="pl-s"><span class="pl-pds">{</span>Wilczek, Jan and Wright, Alec and Välimäki, Vesa and Habets, Emanuël<span class="pl-pds">}</span></span>,
    <span class="pl-s">booktitle</span> = <span class="pl-s"><span class="pl-pds">{</span>Proceedings of the 25th International Conference on Digital Audio Effects (DAFx20in22), Vienna, Austria, September 2020-22<span class="pl-pds">}</span></span>,
    <span class="pl-s">title</span>     = <span class="pl-s"><span class="pl-pds">{</span>Virtual {A}nalog {M}odeling of {D}istortion {C}ircuits {U}sing {N}eural {O}rdinary {D}ifferential {E}quations<span class="pl-pds">}</span></span>,
    <span class="pl-s">year</span>      = <span class="pl-s"><span class="pl-pds">{</span>2022<span class="pl-pds">}</span></span>
  }</pre>

<h2>Authors</h2>

<ul>
    <li>Jan Wilczek</li>
    <li>Alec Wright</li>
    <li>Vesa Välimäki</li>
    <li>Emanuël Habets</li>
</ul>

<h2>Abstract</h2>

<p>Recent research in deep learning has shown that neural networks
    can learn differential equations governing dynamical systems. In
    this paper, we adapt this concept to Virtual Analog (VA) modeling
    to learn the ordinary differential equations (ODEs) governing the
    first-order and the second-order diode clipper. The proposed models achieve performance comparable to state-of-the-art recurrent
    neural networks (RNNs) albeit using fewer parameters. We show
    that this approach does not require oversampling and allows to increase the sampling rate after the training has completed, which results in increased accuracy. Using a sophisticated numerical solver
    allows to increase the accuracy at the cost of slower processing.
    ODEs learned this way do not require closed forms but are still
    physically interpretable.
</p>

<h2>Audio Examples</h2>

<p>
    All audio examples were normalized to -23 LUFS using the <a href="https://github.com/csteinmetz1/pyloudnorm">pyloudnorm</a> library from Christian Steinmetz.
</p>

<p>
    For example display the <a href="https://audiolabs.github.io/trackswitch.js/">trackswitch.js</a> library was used:
</p>

<p>
    Werner, Nils, et al. "<strong>trackswitch.js: A Versatile Web-Based Audio Player for Presenting Scientifc Results.</strong>" 3rd web audio conference, London, UK. 2017.
</p>

<h3>Table of Contents</h3>
<ol>
    {% for device in site.data.publications.dafx2022.devices %}
        <li><a href="#{{ device.name | slugify }}">{{ device.name }}</a></li>
        <ol>
            {% for example in device.examples %}
                <li><a href="#{{ device.name | slugify }}-{{ example.name | slugify }}">{{ example.name }}</a></li>
            {% endfor %}
        </ol>
        </li>
    {% endfor %}
</ol>

{% for device in site.data.publications.dafx2022.devices %}
    <h3 id="{{ device.name | slugify }}">{{ device.name }}</h3>

    {% for example in device.examples %}
        <h5 id="{{ device.name | slugify }}-{{ example.name | slugify }}">{{ example.name }}</h5>

        {% for sampling_rate in device.sampling_rates %}
            <div class="player">
                <p>
                    {{sampling_rate}} Hz
                </p>
                {% for file in example.files %}
                    <ts-track title="{{file.name}}">
                        <ts-source src="{{ assets  | append: device.modeled_device | append: '/' | append: sampling_rate | append: '/' | append: file.filename }}" type="audio/flac">
                        </ts-source>
                    </ts-track>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}

{% endfor %}
